language: python

python:
    - "2.6"
    - "2.7"
    - "3.2"
env:
    - DJANGO=1.4
    - DJANGO=1.5
    - DJANGO=1.6.0
install: 
    - pip install -r requirements.txt --use-mirrors
script: 
    - python manage.py test
